body {
    margin: 0px;
    background-color:#b3a486;
  }
  
  .gradient-custom-2 {
  background: #715318;
  }

  .small, small {
    font-size: 100%;
    font-weight: 500;
}
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .1rem;
  border-bottom-right-radius: .1rem;
  }
  }






  
