/* Cabeçalho do site */
header {
    height: 120px;
    background-color: rgb(169, 166, 166);
}

.menu-principal {
    float: right
}

.menu-principal > ul > li { 
    display: inline-block;
    padding: 8px;
}

.menu-principal > ul > li:hover {
    background-color: rgb(253, 253, 253)
}


/* Corpo do site */
main {
    background-color: azure    
}

.animais {
    width: 340px;
    float: left;
    padding: 0 10px;
    height: 600px;
}



.animais> img {
    width: 320;
    height: 320;

}

/* Rodapé do site */

footer {
    clear: both;
    height: 80px;
    background-color:  rgb(169, 166, 166);
}